#clock {
    margin-top:10px;
}

.big-notice {
    font-size: 42px;
    color: #666;
    font-weight: bold;
    line-height: 110%;
}

table#schedule {
    margin-top: 20px;
}

#schedule ul {
    list-style-type: none;
    margin: 0;
}

