<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <link rel="stylesheet" href="/static/bootstrap.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/static/ctm.css" type="text/css" media="screen" />
  <title>{% block title %}Control de Turnos Mejorado{% endblock %}</title>
  {% block extrahead %}{% endblock %}
  <script src="/static/js/modernizr-2.0.6.js"></script>
</head>

<body style="padding-top: 40px;">
  <div id="content">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
